div img {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    padding: 1px;
}

body {
    background-color: rgb(71, 1, 51);
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    overflow: hidden; 
}

@keyframes wiggle {
    50%, 100% {
        transform: scale(1.2) rotate(-3deg); 
    }
    50% {
        transform: scale(1.2) rotate(3deg); 
    }
}

.hover {
    transition: transform 10s ease;
}

.hover:hover {
    animation: wiggle 0.1s ease infinite;
    transform: scale(1000);
}

.spotify-player {
    position: fixed; 
    top: 0; 
    width: 50%; 
    height: 80px; 
}